.heading {
    text-align: center;
    background-color: dodgerblue;
    font-size: larger;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}
.front-content {
    display: flex;
    padding: 1px;
    justify-content: flex-start;
    text-align: start;
}
.fronts {
    padding: 6px ;
    width: 50%;
}
.front {
    text-align: center;
}
.back {
    text-align: center;

}
h3 {
    background-color: dodgerblue;
    text-align: center;
}
button {
    text-align: left;
    float: right;
}
.img1 {
    width: 20%;
    padding: 20px;
    float: left;
}
.img3 {
    width: 40%;
}
.img4 {
    width: 45%;
}
.clearfix {
    zoom: 1;
    overflow: auto;
}
.container {
    
    margin: auto;
    box-sizing: border-box;
    width: 100%;
}
ul {
    list-style: none;
}
.info {
    padding: 20px;
    text-align: start;

}
.contacts { 
    padding: 15px;
}
.work {
    padding: opx;   
}
.footer {
    text-align: start;
    padding: 5px;
}
@media screen and (max-width: 800px){
    .container {
        display: block;
        width: 100%;

    }
    .work {
        display: block;
        width: 100%;
    }
    .footer {
        display: block;
        width: 100%;

    }
    .img1 {
        width: 100%;
    }
    .front-content {
        display: block;
        width: 100%;

        
    }
}
