

img {
    width: 20%;
    padding: 20px;
    float: left;
}
.clearfix {
    zoom: 1;
    overflow: auto;
}
.container {
    
    display: flex;
    margin: auto;
    box-sizing: border-box;
    align-items: stretch;
    width: 100%;
}
ul {
    list-style: none;
}
.info {
    padding: 20px;
    text-align: start;

}
.contacts { 
    padding: 15px;
}
.work {
    padding: opx;   
}
.footer {
    text-align: start;
    padding: 5px;
}
@media screen and (max-width: 800px){
    .container {
        display: block;
        width: 100%;
    }
    .work {
        display: block;
        width: 100%;
    }
    .footer {
        display: block;
    }
    img {
        width: 80%;
    }
}
