
html,
body {
 float: left;
  
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}
img {
    width: 20%;
    padding: 10px;
    float: left;
}
.clearfix {
    zoom: 1;
    overflow: auto;
}
.container {
    
    display: flex;
    margin: auto;
    box-sizing: border-box;
    align-items: stretch;
    width: 100%;
}
ul {
    list-style: none;
}
.info {
    padding: 50px;

}
.contacts { 
    padding: 15px;
}
.work {
    padding: 10px;    
}
.buttons {
    text-align: end;
}


@media screen and (max-width: 800px){
    .container {
        display: block;
        width: 100%;
    }

    .work {
        display: block;
    }
}
